<div class="container">
    <div class="main">
    <router-outlet></router-outlet>
  </div>
  <nav class="sidenav">
    <a routerLink="/" class="tooltip">Home </a>

    <a routerLink="/x00" class="tooltip">
      Ex 0
      <!-- <span class="tooltiptext">Observable Basics</span> -->
    </a>

    <a routerLink="/x01" class="tooltip">
      Ex 1
      <!-- <span class="tooltiptext">More Observable Basics</span> -->
    </a>

    <a routerLink="/x02" class="tooltip">
      Ex 2
      <!-- <span class="tooltiptext">Observers</span> -->
    </a>

    <a routerLink="/x03" class="tooltip">
      Ex 3
      <!-- <span class="tooltiptext">Imperative Approach in the Subscribe</span> -->
    </a>

    <a routerLink="/x04" class="tooltip">
      Ex 4
      <!-- <span class="tooltiptext">Reactive Approach in the Subscribe</span> -->
    </a>

    <a routerLink="/x05" class="tooltip">
      Ex 5
      <!-- <span class="tooltiptext">Multi-cast</span> -->
    </a>

    <a routerLink="/x06" class="tooltip">
      Ex 6
      <!-- <span class="tooltiptext">Cold vs Hot</span> -->
    </a>

    <a routerLink="/x07" class="tooltip">
      Ex 7
      <!-- <span class="tooltiptext">Cold vs Hot</span> -->
    </a>

    <a routerLink="/x08" class="tooltip">
      Ex 8
      <!-- <span class="tooltiptext">Cold vs Hot</span> -->
    </a>

    <a routerLink="/x09" class="tooltip">
      Ex 9
      <!-- <span class="tooltiptext">Cold vs Hot</span> -->
    </a>
  </nav>

</div>
