/* You can add global styles to this file, and also import other style files */
body {
  font-family:sans-serif;
  padding: 0;
  margin: 0;
}

h2, h3 {
  color: green;
}

.list-item {
  padding: 0.1em 0;
  cursor: pointer;
}

